<footer class="w-100 py-4 flex-shrink-0 bg-secondary p-2 text-dark bg-opacity-10">
    <div class="container py-4">
      <div class="row gy-4 gx-5">
        <div class="col-lg-4 col-md-6">
          <h5 class="h3 text-danger">42Telecom</h5>
          <p class="small text-muted">Excelência em atendimento corporativo!</p>
          <p class="small text-muted mb-0">&copy; Todos os direitos reservados.
            <a class="text-primary" href="https://42telecom.com.br">42telecom.com.br</a></p>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-danger mb-3">Links</h5>
          <ul class="list-unstyled text-muted">
            <li><a href="#">Home</a></li>
            <li><a href="#">Planos</a></li>
            <li><a href="#">Sobre</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-danger mb-3">Links</h5>
          <ul class="list-unstyled text-muted">
            <li><a href="#">Claro Empresas</a></li>
            <li><a href="#">Conta Online</a></li>
            <li><a href="#">Gestor Online</a></li>
          </ul>
        </div>
        
        <div class="col-lg-4 col-md-6">
          <h5 class="text-danger mb-3">Newsletter</h5>
          <p class="small text-muted">Informe seu melhor e-mail e receba as melhores ofertas da Claro Empresas.</p>
          <form action="#">
            <div class="input-group mb-3">
              <input class="form-control" type="text"
                placeholder="Seu E-mail"
                aria-label="Recipient's username"
                aria-describedby="button-addon2">
              <button class="btn btn-primary" id="button-addon2" type="button"><i
                  class="fas fa-paper-plane"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>
