<div class="row align-items-md-stretch">
  <div class="col-md-8">
    <div class="p-5 mb-4 bg-light border rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Sua Empresa Merece o Novo :)</h1>
        <p class="col-md-12 fs-4">Não importa o tamanho da sua <b>empresa</b>. A
          Claro tem solução completa para o seu negócio!
        </p>
        <button class="btn btn-danger btn-lg" type="button">Ver Ofertas
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">

    <img src="../../../assets/images/banner.JPG" class="img-fluid rounded-3"
      alt="Tudo Junto e Conectado">
  </div>
</div>


